AnchorPane{
    -fx-background-color: #0a0750;
}

#start, #pause{
    -fx-background-color: white;
    -fx-border-radius: 4px;
    -fx-background-radius: 5px;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: black;
}

#start:hover, #pause:hover{
     -fx-background-color: #2f63aa;
     -fx-text-fill: white;
}

Pane{
    -fx-background-color: #ffff
}

